
a {
  color: #00B7FF;
}


body, html {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.bg {
  /* The image used */
  background-image: url("../img/photoEditing1.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.file {
  visibility: hidden;
  position: absolute;
}